/* Scss Document */
* {
  margin: 0;
  padding: 0; }

::-moz-selection {
  color: #FFFFFF;
  background: none; }

::selection {
  color: #FFFFFF;
  background: none; }

:focus {
  outline: none; }

html {
  -ms-touch-action: none; }

header {
  position: absolute;
  height: 0; }

.page {
  z-index: 1;
  height: auto;
  background-color: #FAFAFA; }

.products {
  height: auto;
  background-color: #FAFAFA;
  padding: 100px 0 100px 0; }

.product {
  position: relative;
  height: 600px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px; }

.product div {
  position: absolute;
  height: 600px;
  width: 600px;
  background: #EAEAEA;
  right: 0px; }

.product img {
  object-fit: contain;
  width: 100%;
  height: 100%; }

.product h1 {
  z-index: 1;
  position: absolute;
  font-size: 125px;
  font-family: 'Nunito Sans', sans-serif;
  color: #323232;
  transform: rotate();
  text-align: left;
  height: 200px;
  width: 800px;
  top: 0px;
  left: 0px;
  white-space: nowrap; }

.product h2 {
  z-index: 1;
  position: absolute;
  font-size: 25px;
  font-family: 'Nunito Sans', sans-serif;
  color: #FFBC21;
  transform: rotate();
  text-align: left;
  height: 200px;
  width: 800px;
  top: 0px;
  left: 0px;
  white-space: nowrap; }

.btn-black {
  top: 200px;
  font-size: 20px;
  padding: 10px 24px 8px 24px;
  border-color: #050505;
  border-width: 3px;
  border-style: solid;
  background: transparent;
  cursor: pointer;
  font-family: 'Nunito Sans', sans-serif;
  position: absolute;
  transition: transform 0.2s;
  transform: translate(0, 0);
  color: #050505; }

.btn-black:hover {
  transform: translate(16px, -10px); }

.btn-black:active {
  transform: translate(8px, -5px); }

.btn-black:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translate(16px, -10px);
  transition: transform 0.2s;
  background: transparent;
  border-color: #050505;
  border-width: 3px;
  border-style: solid; }

.btn-black:hover:before {
  transform: translate(-16px, 10px); }

.btn-black:active:before {
  transform: translate(0, 0); }
