/* Scss Document */
::-moz-selection {
  color: #FCBF49;
  background: none; }

::selection {
  color: #FCBF49; }

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #FCBF49; }

.page {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #96938E; }

.splash-page {
  background-color: #2B2B28; }
