/* Scss Document */

$accent: #FFBC21;
$dark: #050505;
$neutral: #EAEAEA ;
$light: #FAFAFA;
$secondary: #323232;
$selection: #FFFFFF;
$easing-equation: cubic-bezier(0.50,0.20,0.25,1.00);
$easing-duration: 0.5s;

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: $selection;
  background: none;
}

::selection {
  color: $selection;
  background: none;
}

:focus {
  outline: none;
}

html {
  -ms-touch-action: none;
}

header {
  position: absolute;
  height: 0;
}

.page {
  z-index: -2;
  height: auto;
  background-color: $light;
}

.products {
  height: auto;
  background-color: $light;
  padding: 100px 0 100px 0;
}

.product {
  position: relative;
  height: 600px;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product div {
  z-index: 2;
  position: absolute;
  height: 600px;
  width: 600px;
  background: $neutral;
  right: 0px;
}

.product img {
  z-index: 3;
  object-fit: contain;
  width: 100%;
  height: 100%
}

.product h1 {
  z-index: 10;
  position: absolute;
  font-size: 125px;
  font-family: 'Nunito Sans', sans-serif;
  color: $secondary;
  transform: rotate();
  text-align: left;
  height: 200px;
  width: 800px;
  top: 0px;
  right: 0px;
  white-space: nowrap;
}

.product h2 {
  z-index: 10;
  position: absolute;
  font-size: 25px;
  font-family: 'Nunito Sans', sans-serif;
  color: $accent;
  transform: rotate();
  text-align: left;
  height: 200px;
  width: 800px;
  top: 0px;
  right: 0px;
  white-space: nowrap;
}
