/* Scss Document */

$accent: #FCBF49;
$dark: #2B2B28;
$neutral: #96938E;
$light: #F7F7F7;
$secondary: #E2D8BF;

::-moz-selection {
  color: $accent;
  background: none;
}

::selection {
  color: $accent;
}

:focus {
  outline: none;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.page {
  z-index: 1;
  top: 0;
  left: 0;
	height: 100vh;
	width: 100%;
  background-color: $light;
}

.splash-page {

}

.products-page {

}

.navigation{
  text-align: center;
}

.tabs{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  position: relative;
}

.tabs a{
  text-decoration:none;
  color: $dark;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  z-index: 10;
}

.tabs .selector{
  height: 20%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 80%;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.5,.2,.25,1);
  background: $accent;
}
