/* Scss Document */

$accent: #FCBF49;
$dark: #2B2B28;
$neutral: #ff00ff/*#96938E*/;
$light: #F7F7F7;
$secondary: #E2D8BF;
$easing-equation: cubic-bezier(0.50,0.20,0.25,1.00);
$easing-duration: 0.5s;

::-moz-selection {
  color: $secondary;
  background: none;
}

::selection {
  color: $secondary;
  background: none;
}

:focus {
  outline: none;
}

html {
  -ms-touch-action: none;
}

body {
  width: 100%;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
}

.scroller {
  position: relative;
  top: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  transition-duration: $easing-duration;
  transition-timing-function: $easing-equation;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
}

.navigation {
  text-align: center;
}

.tabs {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  position: relative;
}

.tabs a {
  text-decoration: none;
  color: $dark;
  text-transform: uppercase;
  padding: 10px 20px;
  display: inline-block;
  position: relative;
}

.tabs .selector {
  height: 20%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 80%;
  border-radius: 100px;
  transition-duration: $easing-duration;
  transition-timing-function: $easing-equation;
  background: $accent;
}

.page {
  z-index: 1;
  top: 0;
  left: 0;
  height: 100vh;
	width: 100%;
  background-color: $light;
}

.home {

}

.products {
  height: auto;
  background-color: $secondary;
}
