@charset "utf-8";

header {
	height: 4em;
	width: 100%;
	top: 0;
	padding: 0em 0em 0em 0em;
	position: fixed;
	background: #111111;
	opacity: 0.8;
	z-index: 100;
}

.headerbrandingcontainer {
	float: left;
	display: table;
	height: 100%;
	padding: 0 0 0 0;
	text-align: center;
}

.headerbranding {
	padding: 0em 1em 0em 1em;
	display: table-cell;
	vertical-align: middle;
}

.headerlogo {
	padding: 0 0 0 0;
}

.sitenavcontainer {
	height: 100%;
	float: right;
	display: table;
}

.sitenav {
	position: relative;
	width: auto;
	height: auto;
	opacity: 1;
	background: none;
	display: table-cell;
	vertical-align: middle;
}

.sitenav ul {
	list-style-type: none;
	margin-right: 1em;
	margin-left: 1em;
}

.sitenav ul li {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

.navbutton span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #FFFFFF;
}

.navbutton {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	background: none;
	outline: none !important;
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 7em;
	height: 2.5em;
	line-height: 2.6em;
	border: none;
}

.navbutton:before, .navbutton:after {
	position: absolute;
	content: "";
	height: 0%;
	width: .1em;
	background: #FFFFFF;
	cursor: pointer;
}

.navbutton:before {
	right: 0;
	top: 0;
	transition: all 0.1s ease;
}

.navbutton:after {
	left: 0;
	bottom: 0;
	transition: all 0.1s 0.2s ease;
}

.navbutton:hover:before {
	transition: all 0.1s 0.2s ease;
	height: 100%;
}

.navbutton:hover:after {
	transition: all 0.1s ease;
	height: 100%;
}

.navbutton span:before, .navbutton span:after {
	position: absolute;
	content: "";
	background: #FFFFFF;
}

.navbutton span:before {
	left: 0;
	top: 0;
	width: 0%;
	height: .1em;
	transition: all 0.1s 0.1s ease;
}

.navbutton span:after {
	left: 0;
	bottom: 0;
	width: 100%;
	height: .1em;
}

.navbutton span:hover:before {
	width: 100%;
}
