@charset "utf-8";

header {
	height: 4em;
	width: 100%;
	top: 0;
	padding: 0em 0em 0em 0em;
	position: fixed;
	background: none;
	opacity: 1.0;
	z-index: 100;
	vertical-align: middle;
}

.headerbrandingcontainer {
	float: left;
	display: table;
	height: 100%;
	padding: 0 0 0 0;
	text-align: center;
}

.headerbranding {
	padding: 0em 1em 0em 1em;
	display: table-cell;
	vertical-align: middle;
}

.headerlogo {
	padding: 0 0 0 0;
}

.sitenavcontainer {
	height: 100%;
	float: right;
	display: table;
}

.sitenav {
	position: relative;
	width: auto;
	height: auto;
	opacity: 1.0;
	background: none;
	display: table-cell;
	vertical-align: middle;
}

.sitenav ul {
	list-style-type: none;
	margin-right: 1em;
	margin-left: 1em;
}

.sitenav ul li {
	display: inline-block;
	margin-left: 1em;
	margin-right: 1em;
}

.navbutton span {
	position: relative;
	display: block;
	color: #FFFFFF;
	padding: 0.5em 1.5em 0.5em 1.5em ;
}

.navbutton {
	font-family: 'IBM Plex Mono', monospace;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1em;
	background: none;
	outline: none !important;
	cursor: pointer;
	position: relative;
	display: inline-block;
	border: none;
}

.navbutton:before, .navbutton:after {
	position: absolute;
	content: "";
	height: 15px;
	width: 3px;
	background: #FFFFFF;
	cursor: pointer;
	transition: all 0.3s ease;
}

.navbutton:before {
	right: 0;
	top: 0;
}

.navbutton:after {
	left: 0;
	bottom: 0;
}

.navbutton:hover:before {
	height: 100%;
}

.navbutton:hover:after {
	height: 100%;
}

.navbutton span:before, .navbutton span:after {
	position: absolute;
	content: "";
	width: 15px;
	height: 3px;
	background: #FFFFFF;
	transition: all 0.3s ease;
}

.navbutton span:before {
	right: 0;
	top: 0;
}

.navbutton span:after {
	left: 0;
	bottom: 0;
	
}

.navbutton span:hover:before {
	width: 100%;
}

.navbutton span:hover:after {
	width: 100%;
}
