@charset "utf-8";

#products {
	background: #F8F4E3;
	text-align: center;
	width: 100%;
}

#titlebar {
	height: 70px;
	width: 100%;
	background: #FFC857;
}

#titlebar p {
	font-family: 'IBM Plex Sans', sans-sesrif;
	font-weight: 700;
/*	font-variant: small-caps;*/
/*	text-transform: uppercase;*/
	text-align: center;
	font-size: 5em;
/*	letter-spacing: .1em;*/
	color: #252323;
	padding: 0;
	margin: 0;
}
	
.product {
	width: 1200px;
	height: 500px;
	background: #969A97;
	text-align: center;
	margin: 30px auto 30px auto;
}

.product h1 {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	text-align: left;
	font-size: 60px;
	color: #252323;
	padding: 0;
	margin: 0;
}

.product h2 {
	font-family: 'IBM Plex Mono', monospace;
	text-align: left;
	font-size: 35px;
	color: #FFC857;
	padding: 0;
	margin: 0;
}