@charset "utf-8";

#splash-page {
/*	background: #DEE3E6;  fallback for old browsers 
	background: -webkit-linear-gradient(left, #00D787, #00B4AF);
	background: -o-linear-gradient(left, #00D787, #00B4AF);
	background: -moz-linear-gradient(left, #00D787, #00B4AF);
	background: linear-gradient(to right, #00D787, #00B4AF);*/
	background: #F8F4E3;
}

.layered {
	font-size: 85px;
	font-weight: 900;
	color: #252323;
	padding: 0;
	margin: 0;
	text-align: center;
	top: 450px;
	height: 120px;
	width: auto;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#splash-page h1 {
	font-family: 'Nexa Bold';
	z-index: 6;
}

#mainlogocontainer {
	padding: 0;
	margin: 0;
	text-align: center;
}

#mainlogo {
	padding: 0;
	margin: 0;
}