@charset "utf-8";

@font-face {
    font-family: Marvin Visions;
	font-weight: bold;
    src: url(fonts/MarvinVisions-Bold.woff);
}

@font-face {
    font-family: Lovelo Line Light;
    src: url(fonts/Lovelo-Line-Light.woff);
}

@font-face {
    font-family: Lovelo Line Bold;
    src: url(fonts/Lovelo-Line-Bold.woff);
}

@font-face {
    font-family: Lovelo Black;
    src: url(fonts/Lovelo-Black.woff);
}

@font-face {
    font-family: Todi;
    src: url(fonts/Todi.woff);
}

@font-face {
    font-family: Nexa Light;
    src: url(fonts/Nexa-Light.woff);
}

@font-face {
    font-family: Nexa Bold;
    src: url(fonts/Nexa-Bold.woff);
}

@font-face {
    font-family: Code Light;
    src: url(fonts/Code-Light.woff);
}

@font-face {
    font-family: Code Bold;
    src: url(fonts/Code-Bold.woff);
}

@font-face {
    font-family: Intro;
    src: url(fonts/Intro.woff);
}

@font-face {
    font-family: Intro Inline;
    src: url(fonts/Intro-Inline.woff);
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
    color: #FFFFFF;
	background: none;
}

::selection {
    color: #FFFFFF;
}

html {
	-ms-touch-action: none;
	background: #F8F4E3;
}

body {
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

.page {
	height: 100vh;
	width: 100%;
}