@charset "utf-8";


::-moz-selection {
  color: #FFFFFF;
  background: none;
}

::selection {
  color: #FFFFFF;
}

header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #E2D8BF;
}

.page {
  z-index: 1;
	height: 200px;
	width: 100%;
  background-color: #2B2B28;
}

.splash-page {
  background-color: #2B2B28;
}
