@charset "utf-8";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
    color: #488286;
	background: none;
}

::selection {
    color: #488286;
}

html {
	-ms-touch-action: none;
	background: #F8F4E3;
}

body,ul,li {
	padding: 0;
	margin: 0;
	border: none;
}

body {
	overflow: hidden; /* this is important to prevent the whole page to bounce */
}

main {
	height: 85vh;
}

#wrapper {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0;
	width: 100%;
	overflow: hidden;
}

#scroller {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: auto;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

#scroller ul {
	list-style: none;
	height: auto;
	width: 100%;
	text-align: center;
}

#scroller li {
	display: block;
	float: left;
	width: 100%;
}

.page {
	height: 100vh;
}

.fakeheader {
	height: 4em;
	width: 100%;
	position: relative;
	background: #488286;
}